</div>
<div class="footer">
  <footer>
    <nav class="navbar navbar-expand-lg navbar-dark other-footer">
      <a class="navbar-brand logo bottom-logo" href="/mainpage">BNS</a>
      <p class="footer-p">Made In India, 2020</p>
    </nav>
  </footer>
</div>
</body>
