<%- include('partials/header'); -%>

<div class="home-form-div" style="text-align:justify">
<h1>About Us</h1>
<p>Buy-N-Sell operates an online marketplace for consumer-to-consumer sales, particularly targeting users in emerging markets, with a view to providing a safe, reliable and efficient way for consumers to buy and sell goods.</p><br>
<h3>Value Propositions</h3>
<p>Buy-N-Sell provides value to its customers in the following ways:</p>
<ul>
  <li><b>The quality and reliability of its platform</b>, with the Company operating an efficient and high-quality platform, providing a reliable and effective channel for consumers to interact with one another</li>
  <li><b>Its accessibility and ease of use</b>, with the Company providing a user friendly and flexible experience that can be access either through mobile and desktop browsers or via the Company’s mobile applications</li>
  <li><b>Its broad range of product categories</b>, with the Company enabling consumers to sell a range of products, including electronics, clothes, furniture, cars, and home appliances</li>
  <li><b>Its expertise and experience</b>, with the Company employing specialist technical personnel across its business, as well as an experienced team of industry executives</li>
  <li><b>Its international reach</b>, with the Company serving consumers across 40 countries worldwide, in particular serving customers in emerging markets that are not typically served by growing online businesses</li>
</ul><br>
<h3>Channels</h3>
<p>Buy-N-Sell operates this website, through which it provides information on its platform, its services, and its products. The Company operates numerous local online channels across its active markets that cater specifically to local consumers. These sites allow consumers to register a user account, browse classified ads by category, place advertisements, and make purchases.</p>
</div>

<%- include('partials/footer') -%>
