<%- include('partials/header'); -%>

<div class="home-form-div">
  <h1>Login or Register?</h1>
  <a class="btn btn-dark" href="/login" role="button">Login</a>
  <a class="btn btn-dark" href="/register" role="button">Register</a>
</div>


<%- include('partials/footer'); -%>
